@media all {
    /* Annotations list on resource show */
    #annotations .annotation {
        margin-bottom: 24px;
    }
    #annotations .annotation h4 {
        font-weight: bold;
        border-bottom: 3px solid var(--gray);
        padding: 6px 0 4px;
    }
    #annotations .annotation h4 span:not(.resource-name) {
        font-weight: normal;
    }
    #annotations .annotation h4 span.annotation-created {
        font-size: smaller;
    }
    #annotations .annotation h4 span.annotation-owner {
        font-size: smaller;
        border-left: #888888 1px solid;
        margin-left: 0;
        padding-left: 6px;
    }

    #annotations table {
        width: 100%;
        margin: 15px 0;
    }
    #annotations th {
        text-align: left;
        border-bottom: 3px solid #dfdfdf;
    }
    .annotation-body,
    .annotation-target {
        border-bottom: 1px solid #dfdfdf;
    }
    .show .annotations table th:first-of-type,
    .show .annotations table td:first-of-type {
        min-width: 75%;
        width: 75%;
    }
    .show .annotations table th:last-of-type,
    .show .annotations table td:last-of-type {
        max-width: 25%;
        width: 25%;
    }

    /* Resource links */
    #annotations .resource-link {
        margin-bottom: 0;
        display: flex;
        align-items: center;
    }

    /* Popover / expand */
    .annotation-popover-content {
        display: none;
    }
    .annotation-popover-parent .actions {
        float: right;
        margin: 0 0 0 auto;
        padding: 0;
        list-style: none;
    }
    .annotation-popover-parent .actions li {
        list-style-type: none;
    }

    /* Motivation / purpose tags */
    span.oa-motivated-by,
    span.oa-has-purpose {
        padding-left: 6px;
        padding-right: 6px;
        border-right: solid 1px;
    }
    span.oa-motivated-by:first-of-type,
    span.oa-has-purpose:first-of-type {
        padding-left: initial;
    }
    span.oa-motivated-by:last-of-type,
    span.oa-has-purpose:last-of-type {
        padding-right: initial;
        border-right: none;
    }

    /* Private icon */
    .annotations .o-icon-private {
        display: inline-block;
        vertical-align: bottom;
        margin-left: .5em;
    }

    /* Annotate form */
    .annotate .property {
        display: initial;
    }
    #annotate form label[for=submit] {
        display: none;
    }
}
